.Aligner {
    display: block;
    align-items: center;
    min-height: 30em;
    float:left;
    justify-content: center;
    
}

/*.Aligner-item {
    flex: 1;
}

.Aligner-item--top {
    align-self: flex-start;
}

.Aligner-item--bottom {
    align-self: flex-end;
}

.Aligner-item--fixed {
    flex: none;
    max-width: 50%;
}


#webmenu{
    width:100px;
}
*/


#style-select {
    height:350px;
    width: 300px;
    margin-left:20%;
    margin-right:10%;
    float: left;
    display:inline-block;
    left: 30%;
    top: 40%;
	border: 1px lightgray solid;
}

#donelli, #matisse {
	height: 150px;
	padding: 0px;
	margin: 15px;
}

#starry-night, #composition-vii {
	width: 110px;
	padding: 0px;
	margin: 15px;
}

#progress {
	padding: 10px;
}

.outline {
	border: 5px solid blue;
}

#dropzone1 {
    height: 350px;
    width: 300px;
    left: 500 px;
    float:left;
    margin-left:auto;
    margin-right:auto;
    right:30%;
    top:40%;
}

#dropzonehere {
	height: 100%;
	width: 100%;
}

/*
#donelli {
    position: absolute;
    top: 120px;
    left: 400px;
    margin: 20px;
    padding: 10px;
    align-item: center-left
   border: 5px solid #ccc;
    background: #666;
    width: 150px;
    voice-family: "\"}\"";
    voice-family:inherit;
    width: 120px;
    
}

#dropzone1 {
    position: absolute;
    top: 120px;
    right: 400px;
    margin: 20px;
    padding: 10px;
   border: 5px solid #ccc;
    background: #666;
   align-item:center-right
    width: 150px;
    voice-family: "\"}\"";
    voice-family:inherit;
    width: 120px;
}*/
