.Aligner {
    display: flex;
    align-items: center;
    min-height: 10em;
    justify-content: center;
}

.Aligner-item {
    flex: 1;
}

.Aligner-item--top {
    align-self: flex-start;
}

.Aligner-item--bottom {
    align-self: flex-end;
}

.Aligner-item--fixed {
    flex: none;
    max-width: 50%;
}


#webmenu{
    width:100px;
}

#donelli {
    height:350px;
    width: 300px;
    margin-left:300px;
    margin-right:100px;
    float: left;
    display:inline-block;
    
}

#dropzone1 {
    height: 350px;
    width: 300px;
    left: 500 px;
    float:left;
    margin-left:auto;
    margin-right:auto;
}

