<!doctype HTML>
<html>
<head>
	<title>Art Style</title>
	<link href="css/app.css" rel="stylesheet" type="text/css">
</head>
<body>
<script src="js/jquery-2.1.4.min.js"></script>

<div id="content">
<button id="clickme">Getting some images!</button>

<img id="gohere" style="width: 512px; height: 512px;">

<form action='/putimage' method='POST' enctype="multipart/form-data">
<input type="file" name="file" accept="image/*">
<input type="submit" name="submit">
</form>

</div>

<script>
$("#clickme").click(function() {
	$.getJSON("/start_crunching", function(crunch_result) {
		
		if (crunch_result.started === true) {
			var load_next = function() {
				$.getJSON("/get_next_image", function(image_result) {
					if (image_result.error) {
						return;
					} else {
						$("#gohere").attr("src", image_result.src);
						if (image_result.done === false) {
							setTimeout(load_next, 1000);
						}
					}
				});
			};
			setTimeout(load_next, 1000);
		}

	});

});
</script>

</body>
</html>
