<!doctype HTML>
<html>
<head>
	<title>Art Style</title>
	<link href="css/app.css" rel="stylesheet" type="text/css">
    <link href="semantic/dist/semantic.min.css" rel="stylesheet" type="text/css">
</head>
<body>
<script src="js/jquery-2.1.4.min.js"></script>
<script src="js/dropzone.js"></script>
<script src="semantic/dist/semantic.min.js"></script>
<script>
    $("body select").msDropDown();
</script>


<h2 class="ui center aligned icon header">
    <i class="thumbs up icon"></i>
    Try take a photo and see an artistic yourself!
</h2>



<img  id="donelli" src="/images/donelli.jpg">

<!---
<select name="webmenu" id="webmenu">
    <option value="donelli" src="/images/donelli.jpg"></option>
</select>
-->



<div class="Aligner">
  
    <div class="Aligner">
        <div id="content">
            <button id="clickme">Getting some images!</button>
            
            <img id="gohere">
                
        </div>
    </div>
</div>


<script>
$("#clickme").click(function() {
	$.getJSON("/getimage", function(result) {
		$("#gohere").attr("src", "data:image/jpg;base64," + result.base64);
	});
});
</script>

</body>
</html>
